<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117365128441-tnrctltnq2phvq04282anhs1h852ksuq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117365128441-tnrctltnq2phvq04282anhs1h852ksuq</string>
	<key>API_KEY</key>
	<string>AIzaSyBJqR7LeGOT1R80nOCty2QBTHaqeu05YDs</string>
	<key>GCM_SENDER_ID</key>
	<string>117365128441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thenexthop.etenderv1</string>
	<key>PROJECT_ID</key>
	<string>e-tender-248c8</string>
	<key>STORAGE_BUCKET</key>
	<string>e-tender-248c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117365128441:ios:51c2cbc1a64e2da994b628</string>
</dict>
</plist>